body{
background-image:url('wrapperpic.jpg');
background-color:#ffffff;
}
.navbar{
width:240px;
height:630px;

float:left;
}
.navbar a {

text-decoration:none;
color:#ffffff;
font-face: Times Roman;
font-size:20px;
}

.navbar a:hover {

text-decoration:none;
color:#ff0000;
font-face: ariel;
font-weight:bold;
font-size:22px;
}
.wrapper{
width:1050px;
height:630px;
background-color:#ffffff;
z-index:1;
margin-left:250px;
margin-right:auto;
position:relative;
overflow:hidden;


}
h1{

}

.interviewwrapper{
position:relative;

height:600px;
width:600px;
overflow:hidden;


}


h2{
color:#ffffff;
}
#interview{
width:550px;
position:relative;
top:100px;
margin-left:auto;
margin-right:auto;

}

#interview p{
color:#ffffff;
font-size:18px;

}
#biopicwrapper{
width:1000px;
height:500px;
float:left;
text-align:center;
margin-left:25px;
position:relative;
top:100px;


}

.border{
border-style:solid;
border-color:#ffffff;

}